@import "../../vars.css";

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:49px ;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title{
    font-size: 65px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 32px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, rgb(255, 255, 255, 1)70%, rgb(255, 255, 255, 0)120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.description{
    font-size: 30px;
    margin-bottom: 52px;
    font-family: var(--font-roboto);
    
}
.contactBtn{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.25);
}
.heroImg{
    z-index: 1;
    width: 50%;
    margin-left: 200px;
    margin-bottom: 100px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(52, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}
.bottomBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    right: -9vw;
    border-radius: 564px;
    background: rgba(52, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}
@media screen and (max-width: 768px) {
    .container{
        flex-direction: column-reverse;
    }
    .content{
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .heroImg{
        width: 80%;
        margin-left: 0;
        margin-bottom: 50px;
    }}